.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .modal-content {
    width: 40%;
    min-width: 30%;
    padding: 24px;
    border-radius: 8px;
    min-width: 320px;
    position: relative;
    text-align: start;
    .modal-actions{

      .default-border{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #1B1F27;
        border-radius: 12px;
        padding: 26px;
        p{margin-left: 16px;}
        section{
          display: flex;
          align-items: center;
          img{
            border-radius: 100%;
          }
        }
      }
      .option-card:hover{
          border: 1px dashed #FFFFFF;
      }
      div{
        gap: 0px;
      }
    }
    .modal-confirm{
      .delete{
        background-color: #E02D3C;
        color: #FFF;
      }
      .back{
        background: #FFF;
        color:#0A0D14; 
      }
    }
  }
  
  .modal-close {
    position: absolute;
    right: 0px;
    top: 8px;
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
  }