@import "../../styles/_variables.scss";

header{
    display: flex;
    position: sticky;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    border-bottom: 1px solid $light;
    top: 0;
    div{
      flex-direction: row;
      padding: 8px 32px;
      h1 {
        display: flex;
        align-items: center;
        padding-left: 16px;
        margin-left: 16px;
      }
    }

}