
header{
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  background-color: #0A0D14; 
  top: 0;
  .logout{
    height: 42px;
    margin-right: 4%;
  }
  div{
    flex-direction: row;
    padding: 8px 32px;
    h1 {
      display: flex;
      align-items: center;
      padding-left: 16px;
      margin-left: 16px;
    }
  }

}